/*NavBar CSS*/

#navbar_background {
    background-color: #1B1B1B !important;
    padding: 20px !important;
}

#logo{
    width: 50px;
}

.disabled {
    color: #FD5970 !important;
}

.active {
    color: #FFFFFF !important;
}

#book_now{
    background-color:#FD5970 !important;
    color: #FFFFFF !important;
    font-weight: bold;
    border-radius: 10px;
}

.nav-item{
    margin-right:30px !important;
}

/*General page formatting*/
html{
    margin: 0;
    padding: 0;
    height: 100% !important;
}
body{
    font-family: "Montserrat";
    padding:0;
    margin:0;
    height:100% !important;
    background-color: #1B1B1B !important;
    overflow: hidden;
}

h1{
    color: white;
    font-size: 70px;
    font-weight: 900;
}

h3 {
    color: white;
    font-weight: bold;
    font-size: 50px;
}

h4{
    color:white;
    font-size:30px;
}

h5{
    color:white;
    font-size:15px;
}

.container-fluid{
    padding-left:0 !important;
    padding-right: 0 !important;
}

/*Home page formatting*/
#home{
    visibility: visible;
}

#central_home{
    align-content: center;
    height: 100vh !important;
}

#home_text{
    justify-self: center;
    padding:10px;
}

#home_button{
    justify-self: center;
    background-color: #FD5970 !important;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border:none;
    border-radius: 10px;
    padding:10px;
    margin:10px;

}

#home_background_image{
    background-image: url(home_background.png); 
    background-size: cover; 
    background-position: center; 
    width: 100%; 
    height: 100vh;
    height: fit-content;
}

#bricks{
    background-image: url(bricks_background.png) !important;
    background-size: cover;
    background-position: center;
    width:100%;
    height:100vh;
}

#serviceCol{
    background-color: rgba(27, 27, 27, 0.7) !important;
    margin: 40px;
    height:400px;
    border-radius:10px;
}

#nutritionService{
    text-align: center;
    background-image: url(nutrition.png) !important;
    background-size: cover;
    background-position: center;
    width:100%;
    height:200px;
}

#serviceText{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self:center;
    padding-top:10px;
    padding-left:20px;
    padding-right:20px
}

#servicePrice{
    text-align: center;
    padding: 5px;
}
